    <footer class="flex flex-col sm:flex-row h-16 s:h-24 w-full text-base-content font-semibold mt-auto">
        <!-- fixed bottom-0 inset-x-0 -->
        <div class="flex flex-col items-center justify-center content-center py-1 sm:flex-row sm:w-1/2 sm:justify-start sm:content-center sm:pl-6 sm:py-0">
            &copy; 2022 Andrea Pang
        </div> 
        <div class="flex flex-row justify-center items-center sm:flex-row sm:w-1/2 sm:justify-end sm:pr-6 gap-x-5">
            <a href="https://www.linkedin.com/in/andreapang/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/andiedoescode/ledger"><i class="fa-brands fa-github"></i></a>
        </div>
    </footer>
</body>
</html>