</div>
    <footer class="footer p-4 bg-base-300 text-base-content font-semibold absolute bottom-0">
        <div>        
            <p>&copy; 2022 Andrea Pang</p>
        </div>
    </footer> 
</body>
</html>