<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ledger</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/bb1dd7775a.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <section>
      <div class="navbar bg-slate-300 pb-2">
        <div class="navbar-start">
          <a href="/dashboard"class="btn btn-ghost font-semibold upper-case text-3xl dark:text-white ">
            <img src="/imgs/logo.svg" class="mr-3 h-12 sm:h-14" alt="Ledger Logo" /></a>
        </div>
        
        <!-- Nav bar full width -->
        <div class="navbar-end">
          <ul class="menu menu-horizontal p-2 hidden lg:flex lg:flex-shrink-0">
            <!--If not logged in, only show log in/sign up-->
            <% if(typeof user === 'undefined') { %>
              <li><span><a href="/login" class="btn btn-ghost text-base">Log In</a></span></li>
              <li><span><a href="/signup" class="btn btn-secondary text-base">Sign Up</a></span></li>
            <% } else { %>
                    <li><a href="/dashboard" class="">Dashboard</a></li>
                    <li><a href="/profile" class="">Profile</a></li>
                    <li><a href="/logout" class="btn btn-outline btn-error">Log Out</a></li>
            <% } %>
          </ul>

          <!-- Nav bar mobile dropdown -->
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
              <!--If not logged in, only show log in/sign up-->
              <% if(typeof user === 'undefined') { %>
                <li><span><a href="/login" class="btn btn-ghost text-base">Log In</a></span></li>
                <li><span><a href="/signup" class="btn btn-secondary text-base">Sign Up</a></span></li>
              <% } else { %>
                      <li><a href="/dashboard" class="">Dashboard</a></li>
                      <li><a href="/profile" class="">Profile</a></li>
                      <li><a href="/logout" class="btn btn-outline btn-error">Log Out</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="py-8">