<%- include('partials/header') -%>

<div class="card w-2/3 bg-base-100 shadow-xl mx-auto my-16">
    <div class="card-body">
        <div class="card-title mx-auto">
            <h2 class="">Log New Continuing Education</h2>
        </div>

        <section>
            <form action="/course/addCourse" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control input-bordered" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="presenter" class="label">
                        <span class="label-text">Presenter</span>
                    </label>
                    <input type="text" class="input input-bordered w-full max-w-xs" id="presenter" name="presenter">
                </div>
                <div class="mb-3">
                    <label for=ceLength" class="form-label">CE Length (in hours)</label>
                    <input type="number" min="0" step="0.1" class="form-control input-bordered" id="ceLength" name="ceLength">
                </div>
                <div class="mb-3">
                    <label for="completeDate" class="form-label">Date Completed</label>
                    <input type="date" class="form-control input-bordered" id="completeDate" name="completeDate">
                </div>
                <div class="mb-3">
                    <label for="imgUpload" class="form-label">Certificate</label>
                    <input type="file" class="form-control file-input file-input-bordered file-input-info w-full max-w-xs" id="imageUpload" name="file">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
        </section>
    </div>
</div>

<%- include('partials/footer') -%>
